In [1]:
import numpy as np
import pandas as pd
import os
import pymysql
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote
from sqlalchemy.types import *

In [2]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,\N,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,\N,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,\N,126,Drama

In [3]:
genres_split= basics['genres'].str.split(',')
genres_split

unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Thriller', 'Musical', 'Action',
       'Adventure', 'Crime', '\\N', 'Music', 'Animation', 'Family', 'War',
       'History', 'Adult', 'Sport', 'Western', 'Short', 'Reality-TV',
       'Talk-Show', 'News', 'Game-Show'], dtype=object)

In [4]:
unique_genres = sorted(unique_genres)
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western',
 '\\N']

In [5]:

basics['genres_split'] = basics['genres'].str.split(',')

exploded_genres = basics.explode('genres_split')
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [6]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25,
 '\\N': 26}

In [7]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [8]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup

    Genre_Name  Genre_ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25
26          \N        26

In [9]:

pymysql.install_as_MySQLdb()


username = 'root' 
password = 'Krug1998!'
connection = f"mysql+pymysql://{username}:{urlquote(password)}@localhost/movies"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [11]:
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [12]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,\N,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,\N,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,\N,126,Drama,[Drama]

In [13]:
basics = basics.drop(['genres_split','originalTitle','isAdult','titleType','genres'],axis=1)
basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,\N,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,\N,70
2,tt0069049,The Other Side of the Wind,2018,\N,122
3,tt0088751,The Naked Monster,2005,\N,100
4,tt0096056,Crime and Punishment,2002,\N,126

In [14]:
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',
              index=False)

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'endYear' at row 1")
[SQL: INSERT INTO title_basics (tconst, `primaryTitle`, `startYear`, `endYear`, `runtimeMinutes`) VALUES (%(tconst)s, %(primaryTitle)s, %(startYear)s, %(endYear)s, %(runtimeMinutes)s)]
[parameters: ({'tconst': 'tt0035423', 'primaryTitle': 'Kate & Leopold', 'startYear': 2001, 'endYear': '\\N', 'runtimeMinutes': '118'}, {'tconst': 'tt0062336', 'primaryTitle': 'The Tango of the Widower and Its Distorting Mirror', 'startYear': 2020, 'endYear': '\\N', 'runtimeMinutes': '70'}, {'tconst': 'tt0069049', 'primaryTitle': 'The Other Side of the Wind', 'startYear': 2018, 'endYear': '\\N', 'runtimeMinutes': '122'}, {'tconst': 'tt0088751', 'primaryTitle': 'The Naked Monster', 'startYear': 2005, 'endYear': '\\N', 'runtimeMinutes': '100'}, {'tconst': 'tt0096056', 'primaryTitle': 'Crime and Punishment', 'startYear': 2002, 'endYear': '\\N', 'runtimeMinutes': '126'}, {'tconst': 'tt0100275', 'primaryTitle': 'The Wandering Soap Opera', 'startYear': 2017, 'endYear': '\\N', 'runtimeMinutes': '80'}, {'tconst': 'tt0103340', 'primaryTitle': 'Life for Life: Maximilian Kolbe', 'startYear': 2006, 'endYear': '\\N', 'runtimeMinutes': '90'}, {'tconst': 'tt0108549', 'primaryTitle': 'West from North Goes South', 'startYear': 2004, 'endYear': '\\N', 'runtimeMinutes': '96'}  ... displaying 10 of 96915 total bound parameter sets ...  {'tconst': 'tt9916362', 'primaryTitle': 'Coven', 'startYear': 2020, 'endYear': '\\N', 'runtimeMinutes': '92'}, {'tconst': 'tt9916428', 'primaryTitle': 'The Secret of China', 'startYear': 2019, 'endYear': '\\N', 'runtimeMinutes': '\\N'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [15]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [17]:
ratings = pd.read_csv('Data/title_ratings.csv.gz')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000005            6.2      2604
3  tt0000006            5.1       178
4  tt0000007            5.4       817

In [18]:
ratings.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',
              index=False)

493873

In [19]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [20]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',
              index=False)

171846

In [21]:
genre_lookup.set_index('Genre_ID').to_sql('genres',engine,index=True)

27

In [22]:
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.111,2170.0,PG

In [23]:
tmdb = tmdb.drop(index=[0])
tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.111,2170.0,PG
5,tt0118852,0.0,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.800,49.0,R

In [24]:
key_len = tmdb['imdb_id'].fillna('').map(len).max()
df_schema = {
    "imdb_id": String(key_len+1)}

In [25]:
tmdb.to_sql('tmdb',engine,dtype=df_schema,if_exists='replace',
              index=False)

2716

In [26]:
engine.execute('ALTER TABLE tmdb ADD PRIMARY KEY (`imdb_id`);')

In [27]:
q = '''show tables;'''

pd.read_sql(q,engine)

  Tables_in_movies
0           genres
1     title_basics
2     title_genres
3    title_ratings
4             tmdb

In [28]:
q = '''select * from genres limit 5;'''
pd.read_sql(q,engine)

   Genre_ID Genre_Name
0         0     Action
1         1      Adult
2         2  Adventure
3         3  Animation
4         4  Biography

In [29]:
q = '''select * from title_basics limit 5;'''
pd.read_sql(q,engine)

Empty DataFrame
Columns: [tconst, primaryTitle, startYear, endYear, runtimeMinutes]
Index: []

In [30]:
q = '''select * from title_genres limit 5;'''
pd.read_sql(q,engine)

      tconst  genre_id
0  tt0035423         5
1  tt0035423         9
2  tt0035423        18
3  tt0062336         7
4  tt0069049         7

In [31]:
q = '''select * from title_ratings limit 5;'''
pd.read_sql(q,engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000005            6.2      2604
3  tt0000006            5.1       178
4  tt0000007            5.4       817

In [32]:
q = '''select * from tmdb limit 5;'''
pd.read_sql(q,engine)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,None,None,NaN,None,None,NaN,None,None,...,NaN,NaN,None,None,None,None,NaN,NaN,NaN,None
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,None,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",None,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.328,1181.0,PG-13
2,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,None,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",None,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,None
3,tt0113092,0.0,None,None,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",None,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,None
4,tt0114447,0.0,None,None,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",None,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,None